* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #D3D3D3;
}

#container {
    margin: 50px auto;
    width: 1000px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 50px;
    background-color: white;
}

header {
    margin-bottom: 50px;
}

#title {
    font-size: 60px;
}