<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/addForm.css">
    <title>할 일 등록</title>
</head>
<body>
<div id="container">
    <header>
        <h1>등록하기</h1>
    </header>

    <main>
        <form th:action method="post">
            <div id="titleContainer">
                <input id="title"
                       name="title"
                       type="text" placeholder="제목을 입력해 주세요.">
            </div>
            <div id="contentsContainer">
                <textarea name="contents" id="contents" cols="30" rows="10" placeholder="내용을 입력해 주세요."></textarea>
            </div>
            <div id="save">
                <button id="btn_save" type="submit">저장</button>
            </div>
        </form>
    </main>
</div>
</body>
<script src="../js/add.js"></script>
</html>